.restaurantEditProfileForm {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--comes--title);
    padding: 5% 3%;
    height: 350px;
    justify-content: space-around;
}

.restaurantEditProfileForm input {
    width: 100%;
    background-color: var(--comes--input);
    border: none;
}

.restaurantEditProfileForm label {
    color: var(--comes--title);
}

.restaurantEditProfileForm .rowDiv div {
    width: 40%;
    justify-content: space-between;
}

.restaurantEditProfileForm Button {
    padding: 3% 2%;
}

.restaurantEditProfileForm .buttonsField {
    display: flex;
    justify-content: space-around;
}