.unityDelivery {
    position: absolute;
    top: 20%;
    right: 35%;
    width: clamp(200px,25%, 500px);
    background-color: var(--comes--input);
    border: 1px solid black;
    padding: 3% 2%;
    display: flex;
    flex-direction: column;
}

.unityDelivery h3,
.unityDelivery p{
    color: var(--comes--title);
}

.unityDelivery .toBeEarned {
    color: var(--comes--azul);
}

.unityDelivery .generalCard p,
.unityDelivery .generalCard h4 {
    color: var(--comes--azul);
}

.unityDelivery .titleDiv a {
    font-size: 2rem;
    font-weight: 300;
    color: var(--comes--title);
}

.unityDelivery .titleDiv a:hover {
    cursor: pointer;
    font-weight: 400;
}

.unityDelivery .titleDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.unityDelivery .scrollableDiv {
    width: 100%;
    height: 28vh;
    overflow-y: scroll;
    overflow-x: hidden;
    margin: 20px auto auto auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.unityDelivery .scrollableDiv .generalCard{
    padding: 0px;
    margin: 0px;
}

.unityDelivery .insideScrollable {
    width: 80%;
}

.unityDelivery Button {
    padding: 8px 5px;
    margin-top: 20px;
}

