.registerPage {
    background-image: url('./assets/registerBackground.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 1400px;
    height: 100vh;
    margin: auto;
}