.restaurantRater {
    position: absolute;
    right: 30%;
    top: 20%;
    background-color: white;
    border: 1px solid var(--comes--title);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4% 3%;
}

.restaurantRater h3 {
    color: var(--comes--title);
    margin-bottom: 20px;
}

.restaurantRater div:nth-of-type(2){
    display: flex;
    flex-direction: column;
    align-items: center;
}

.restaurantRater div:nth-of-type(2) Button{
    padding: 10px 20px;
    margin-top: 20px;
}

.restaurantRater span{
    font-size: 2.5rem;
}