.stockCard {
    display: flex;
    justify-content: space-between;
    background-color: var(--comes--input);
    border: 1px solid var(--comes--title);
    padding: 3% 8%;
    margin-top: 20px;
    
}

.stockCard > div:first-child {
    display: flex;
}

.stockCard img {
    width: clamp(110px, 20%, 200px);
}

.stockCard .description {
    margin-left: 10px;
    color: var(--comes--title);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
}

.stockCard .description h4 ,
.stockCard .description p:last-child {
    color: black;
}

.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    align-items: flex-end;
}

.controls > div {
    display: flex;
    width: 60%;
    justify-content: space-between;
    border: 1px solid var(--comes--title);
    border-radius: 10%;
}

.controls .pencilIcon {
    border: none;
    font-size: 2rem;
    width: fit-content;
}

/************** RESPONSIVE SOLUTION*******************/

@media only screen and (max-width: 420px) {
    .stockCard {
        flex-direction: column;
        align-items: center;
    }    
    .stockCard > div:first-child {
        flex-direction: column;
        align-items: center;
    }
    .stockCard .description {
        margin: 10px auto;
    }
    .stockCard .controls {
        width: 40%;
    }
}