.userEditProfilePage {
    position: relative;
}

.filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.catalog {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 450px;
    overflow-y: scroll;
}