.yellowBackground {
    background-color: var(--comes--amarelo);
    color: white;
    border: 1px solid var(--comes--amarelo);
}

.yellowBackground:hover {
    cursor: pointer;
    background-color: white;
    color: var(--comes--amarelo);
}

.whiteBackground {
    background-color: white;
    color: var(--comes--amarelo);
    border: 1px solid var(--comes--amarelo);
}

.whiteBackground:hover {
    cursor: pointer;
    background-color: var(--comes--amarelo);
    color: white;
}

.blueBackground {
    background-color: var(--comes--azul);
    color: white;
    border: 1px solid var(--comes--azul);
}

.blueBackground:hover {
    cursor: pointer;
    background-color: white;
    color: var(--comes--azul);
}

.greyBackground {
    cursor: pointer;
    background-color: var(--comes--title);
    color: white;
    border: 1px solid var(--comes--title);
}