.loginPage {
    width: 100%;
    margin: auto;
    height: 100vh;
    background-color: var(--comes--azul);
    position: relative;
}

.loginPage Header{ 
    position: absolute;
    left: 5%;
}

.loginPage .backgroundImage {
    width: 70%;
    height: 100%;
}


/*** in small screns the image get hidden****/
@media only screen and (max-width: 1050px){
    .loginPage .backgroundImage {
        min-width: none;
        visibility: hidden;
        display: none;
    }
}