header {
    display: flex;
    padding: 10px 0 10px 0;
    align-items: center;
    justify-content: space-around;
}

header a:hover {
    cursor: pointer;
}
header a img {
    width: 100%;
    max-width: 80px;
    margin: auto;
}

header nav {
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.whiteBackground {
    margin-right: 20px;
}

header nav button {
    display: flex;
    font-size: clamp(0px, 3vw, 12px);
    width: clamp(fit-content, 40%, 400px);
    padding: 3% 12%;
}

.onlyLogo button {
    visibility: hidden;
}