.itemCard {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    min-width: 300px;
    margin-top: 20px;
    background-color: var(--comes--input);
    padding: clamp(5px, 1vw, 20px);
}

.itemCard .imgDiv {
    width: 90px;
    height: 90px;
    background-color: var(--comes--orange);
}

.itemCard .imgDiv img {
    width: 100%;
    height: 100%;
}

.circleButton {
    border: 2px solid var(--comes--orange);
    font-weight: 700;
    font-size: 1rem;
    color: var(--comes--orange);
    background-color: var(--comes--input);
    border-radius: 50%;
    align-self: center;
}

.circleButton:hover {
    cursor: pointer;
}