.userEditProfileForm {
    width: 35%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-around;
    border: 1px solid black;
    padding: 10% 5%;
}

.userEditProfileForm label {
    display: block;
    color: var(--comes--title);
}

.userEditProfileForm input {
    width: 100%;
    margin-top: 8px;
}

.doubleInput{
    width: 100%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    justify-content: space-between;
}

.doubleInput div {
    width: 45%;
    min-width: 100px;
}

.userEditProfileForm .buttonsField {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.userEditProfileForm Button {
    padding: clamp(0px, 1vw, 18px);
}