.cartSidebar {
    width: 25%;
    height: 80vh;
    background-color: var(--comes--input);
    border: 1px solid var(--comes--title);
    position: absolute;
    top: 0%;
    right: 0%;
    padding: 5% 3%;
}

.cartSidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cartSidebar > div {
    width: 80%;
    align-self: center;
}

.cartSidebar h3 {
    color: var(--comes--amarelo);
    margin-bottom: 20px;
}

.cartSidebar .emptyCart {
    color: var(--comes--amarelo);
    float: right;
}

.cartSidebar .emptyCart:hover {
    cursor: pointer;
}

.total {
    display: flex;
    justify-content: space-between;
    color: var(--comes--amarelo);
    font-size: 1.3rem;
    font-weight: 700;
}

.cartSidebar Button {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 8px 15px;
    float: right;
    margin-top: 20px;
}