.registerForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: clamp(200px, 20%, 320px);    
    height: fit-content;
    min-height: 500px;
    margin: auto;
    padding:1% 3%;
    background-color: white;
    box-shadow: 3px 2px 2px #8f8f8f;
}

.registerForm .arrow {
    width: 1px;
    border: solid #F5C661;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.registerForm .arrow:hover {
    border-width: 0 4px 4px 0;
}

.registerForm p {
    font-size: 1.2rem;
    font-weight: 600;
    color: #F5C661;
}

.registerForm div {
    display: flex;
    flex-direction: column;
}

.registerForm label {
    font-size: .8rem;
    color: #c6c6c6;
}

.registerForm input {
    margin-top: 1%;
    width: 100%;
    height: clamp(1rem, 1vh, 1.2rem);
    border: none;
    background-color: #ebe8e8;
}

.registerForm Button {
    border-radius: 0px;
    padding: 5px 10px;
    width: fit-content;
    margin: 0 auto;
}

.registerForm .rowDiv {
    display: flex;
    flex-direction: row;
}

.registerForm .rowDiv div{
    width: 40%;
    min-width: 101px;
}

.registerForm .rowDiv .birthdayDiv {
    width: 50%;
}