.restaurantCard {
    display: flex;
    width: clamp(250px, 30%, 300px);
    height: fit-content;
    background-color: #FF7E61;
    color: white;
    padding: clamp(2px, 1vw, 15px);
    margin-top: 12px;
}

.restaurantCard img {
    width: 20%;
    height: 20%;
    border-radius: 50%;
}

.restaurantCard .infoField {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: fit-content;
    padding-left: clamp(5px, 12%, 25px);
}

.restaurantCard .infoField h3,
.restaurantCard .infoField p{
    color: white;
    word-wrap: break-word;
    width: fit-content;
}