.inviteCard {
    width: clamp(250px, 35%, 300px);
    height: fit-content;
    border: 1px solid #F5C661;
    margin-top: 25px;
}

.inviteCard p {
    font-size: 1.5rem;
    font-weight: 500;
    color: #F5C661;
    padding-left: 5%;
    padding-top: 3%;
    word-wrap: break-word;
    padding-bottom: 12px;
}

.inviteCard img {
    width: 100%;
}

.inviteCard.arrow {
    border: solid #F5C661;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }

  .arrow:hover {
    cursor: pointer;
    border-width: 0 5px 5px 0;
    transition: .4s;
  }