.loginForm {
    position: absolute;
    top: 20%;
    right: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: clamp(200px, 20%, 320px);    
    height: fit-content;
    min-height: 400px;
    padding: 3% 3%;
    background-color: white;
    box-shadow: 6px 5px 5px #666666;
}

.loginForm .arrow {
    margin: 0;
    position: absolute;
    top: 20px;
    left: 20px;
    width: 1px;
    border: solid #29ABE2;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.loginForm .arrow:hover {
    border-width: 0 4px 4px 0;
}

.loginForm p {
    font-size: 2rem;
    font-weight: 600;
    color: #29ABE2;
}

.loginForm div {
    display: flex;
    flex-direction: column;
}

.loginForm label {
    color: #c6c6c6;
}

.loginForm input {
    margin-top: 1%;
    width: 100%;
    height: clamp(1.2rem, 1vh, 2rem);
    border: none;
    background-color: #ebe8e8;
}

.loginForm Button {
    border-radius: 0px;
    padding: 10px 20px;
    width: fit-content;
    margin: 0 auto;
}

.loginform a {
    width: fit-content;
    margin: auto;
}

.loginForm a:hover {
    cursor: pointer;
}