.RORF {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid var(--comes--title);
    padding: 8% 10%;
    height: 35vh;
}

.RORF label {
    color: var(--comes--title);
}

.RORF input {
    background-color: var(--comes--input);
    border: 1px solid var(--comes--title);
    height: 20px;
    width: 100%;
}

.RORF .rowDiv {
    width: 100%;
}

.RORF .rowDiv div {
    width: 45%;
}

.RORF Button {
    width: fit-content;
    padding: 3px 5px;
    margin: 0 auto;
    margin-top: 20px;
}