.smallBox .loyalCostomers {
    background-color: var(--comes--azul);
    border: 1px solid var(--comes--title);
    border-radius: 8px;
    width: clamp(0px, 40%, 300px);
    height: 210px;
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.loyalCostomers p {
    color: white;
}

.loyalCostomers p:nth-child(1) {
    font-size: 1.3rem;
}

.loyalCostomers p:nth-child(2) {
    font-size: 2rem;
    margin: auto;
}