.forgetPasswordForm {
    width: clamp(200px, 30vw, 400px);
    background-color: white;
    padding: 2% 3%;
    position: absolute;
    top: 40%;
    left: 30%;
}

.forgetPasswordForm p{
    font-size: 1.5rem;
    color: var(--comes--title);
    margin-bottom: 10px;
}

.forgetPasswordForm label {
    color: var(--comes--title);
}


.forgetPasswordForm input {
    display: block;
    width: 100%;
    border: none;
    margin-top: 5px;
    background-color: var(--comes--title);
}

.forgetPasswordForm Button  {
    margin-top: 60px ;
    margin-left: 37%;
    padding: 3% 7%;
}