/******** GENERAL FORMATATION***********/
.generalCard {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1vh;
    background-color: var(--comes--input);
    border: 1px solid var(--comes--title);
    padding: .5vw;
}

.generalCard h4{
    color: var(--comes--title);
}

.generalCard .description {
    color: var(--comes--title);
}

/********* FOR USE FORMATATION ************/
.user {
    font-size: 1.3rem;
    font-weight: 700;
    color: var(--comes--amarelo);
}

/********* FOR DELIVERYMAN FORMATATION************/
.deliveryman {
    color: var(--comes--azul);
    font-weight: 600;
}

.deliveryman:hover {
    cursor: pointer;
}

.deliverymanReceiving {
    color: var(--comes--azul);
    font-weight: 600;
}

/************* RESTAURANT MANAGER FORMAT *************/
.restaurant {
    width: 30%;
    color: var(--comes--azul);
    font-weight: 600;
}

.restaurant:hover {
    cursor: pointer;
}