:root {
    font-family: 'Roboto', sans-serif;
    --comes--amarelo: #F5C661;
    --comes--azul: #29ABE2;
    --comes--input: #FCFCFC;
    --comes--title: #969696;
    --comes--orange: #FF7E61
}

h1 {
    font-size: 3rem;
    font-weight: 500;
    overflow-wrap: break-word;
}

h3 {
    font-size: 1.5rem;
    font-weight: 500;
}

h4 {
    font-size: 1.3rem;
    font-weight: 500;
}

/*** FORMATATION OF THE BIG BOX THAT REPEAT IN EVERY PAGE ****/
.bigBox {
    width: clamp(200px, 80%, 1000px);
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: column;
}

.smallBox {
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}


/****** FORMATATION FOR DIVS THAT HAS ELEMENTS IN ROW*********/
.rowDiv {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: space-between;
}