.headerRestaurantLogged {
    width: 100%;
    height: 80px;
    background-color: var(--comes--azul);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.headerRestaurantLogged nav {
    width: 35%;
}

.headerRestaurantLogged nav ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.headerRestaurantLogged a {
    text-decoration: none;
    color: white;
}

.headerRestaurantLogged a:hover {
    cursor: pointer;
    font-weight: 600;
}