.smallBox .totalSales {
    background-color: var(--comes--input);
    border: 1px solid var(--comes--title);
    border-radius: 8px;
    width: clamp(0px, 40%, 300px);
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cifrao {
    font-size: 5rem;
    font-weight: 700;
}

.totalSales .rowDiv p:nth-child(2) {
    font-size: clamp(1.5rem, 5vw, 2rem);
    font-weight: 500;
    overflow-wrap: break-word;
}

.totalSales .rowDiv {
    color: rgb(132, 219, 146);
    align-items: center;
}