.headerAdminLogged {
    width: 100%;
    height: 80px;
    background-color: var(--comes--azul);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 60px;
}

.headerAdminLogged nav {
    width: 35%;
}

.headerAdminLogged nav ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.headerAdminLogged a {
    text-decoration: none;
    color: white;
}

.headerAdminLogged a:hover {
    cursor: pointer;
    font-weight: 600;
}