.registerRestaurantForm {
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid var(--comes--title);
    padding: 5% 5%;
}

.registerRestaurantForm input {
    background-color: var(--comes--input);
    border: none;
    height: 25px;
    margin-bottom: 20px;
}

.registerRestaurantForm .logoInput {
    height: 80px;
} 

.registerRestaurantForm label {
    color: var(--comes--title);
    margin-bottom: 10px;
}

.registerRestaurantForm p {
    color: var(--comes--title);
    font-weight: 600;
    margin-bottom: 5px;
}
.registerRestaurantForm Button {
    width: fit-content;
    padding: 2% 3%;
    margin-top: 15px;
    align-self: center;
}

.rowDiv div input{
    display: block;
}