.bigBoxHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.restaurantDescription {
    color: var(--comes--orange);
    display: flex;
    flex-direction: column;
}

.restaurantDescription h1{
    font-weight: 700;
}

.restaurantDescription p:first-of-type {
    font-size: 1.5rem;
    margin-bottom: 6px;
}

.restaurantDescription p:last-of-type {
    margin-top: 12px;
    margin-bottom: 20px;
}

.circularImage {
    background-color: var(--comes--orange);
    border-radius: 50%;
    width: clamp(100px, 5vw, 120px);
    height: clamp(100px, 5vw, 120px);
}

.circularImage img {
    width: 100%;
    border-radius: 50%;
}

/****IMG IS ON TOP IN SCREEN LESS THEN 480PX****/
@media only screen and (max-width: 480px) {
    .bigBoxHeader {
        flex-direction: column-reverse;
    }
}

.itemSearch {
    width: 35%;
    min-width: 200px;
    align-self: center;
}

.itemSearch input {
    width: 100%;
    height: 30px;
    background-color: var(--comes--input);
    border: none;
}

.itensDiv {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
    margin: 40px auto auto auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}