.smallBox .averageRate {
    background-color: var(--comes--input);
    border: 1px solid var(--comes--title);
    border-radius: 8px;
    width: clamp(0px, 40%, 300px);
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.averageRate .rateValue {
    font-size: 2.5rem;
    margin: auto;
    width: fit-content;
    margin-bottom: 10px;
}

.smallBox .rate {
    font-size: 2.3rem;
    margin: auto;
    width: fit-content;
}