.divList {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: clamp(200px, 80%, 1000px);
    margin: auto;
    padding: 10px 10px 10px 40px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 0px rgba(100, 100, 100, 0.050), inset 2px 2px 5px 5px rgba(100, 100, 100, 0.050);
    border: solid 2px rgba(100, 100, 100, 0.090);
    justify-content: space-between;
    flex-wrap: wrap;
}

.foodName {
    font-size: 1.1rem;
    color: var(--comes--title);
}

.divList div p {
    font-size: 0.9rem;
    color: var(--comes--title);
}

.icons {
    display: flex;
    align-items: flex-end;
}