.smallBox .soldPlates {
    background-color: var(--comes--azul);
    border: 1px solid var(--comes--title);
    border-radius: 8px;
    width: clamp(0px, 40%, 300px);
    padding: 2% 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smallBox .soldPlates h4,
.soldPlates p {
    color: white;
}

.soldPlates p {
    margin-top: 10px;
}

.soldPlates img {
    width: 80%;
    height: 150px;
}

.carousel {
    display: flex;
    align-items: center;
}

.soldPlates .arrowLeft {
    width: 1px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.soldPlates .arrowLeft:hover {
    cursor: pointer;
    border-width: 0 4px 4px 0;
}

.soldPlates .arrowRight {
    width: 1px;
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 8px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.soldPlates .arrowRight:hover {
    cursor: pointer;
    border-width: 0 4px 4px 0;
}