.userLogged {
    background-color: var(--comes--amarelo);
    width: 100%;
}
.userLogged nav:first-of-type {
    gap: 30px;
}

.deliverymanLogged {
    background-color: var(--comes--azul);
    width: 100%;
}

.deliverymanLogged nav:first-of-type {
    gap: 30px;
}