.item {
    display: flex;
    flex-direction: row;
    width: clamp(200px, 80%, 1000px);
    margin: auto;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 0px rgba(100, 100, 100, 0.050), inset 2px 2px 5px 5px rgba(100, 100, 100, 0.050);
    border: solid 2px rgba(100, 100, 100, 0.090);
}

.imgDiv {
    min-width: 100px;
    width: 100%;
    max-width: 150px;
    margin: auto 10px auto auto;
}

.iconDiv {
    display: flex;
    align-items: flex-end;
}

.icon {
    left: 500px;
    top: 0;
}