.titlePages {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.titlePages div {
    width: 100%;
    display: flex;
}

.titlePages h1 {
    width: 100%;
    text-align: center;
    font-size: 1.7rem;
    color: var(--comes--title);
}

.balance {
    font-size: 1.5rem;
    color: var(--comes--title);
}

.withArrow{
    width: 1px;
    border: solid var(--comes--title);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 12px;
    transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
}

.withArrow:hover {
    border: solid #96969670;
    border-width: 0 3px 3px 0;
    transition: .1s;
    cursor: pointer;
}