.addPlate {
    position: absolute;
    right: 35%;
    top: 20%;
    width: 20%;
    padding: 3% 4%;
    display: flex;
    flex-direction: column;
    background-color: var(--comes--input);
    border: 1px solid var(--comes--title);
}

.addPlate .rowDiv {
    margin-bottom: 20px;
}

.addPlate a h4{
    font-size: 1.5rem;
}

.addPlate a h4:hover {
    cursor: pointer;
}

.addPlate h4,
.addPlate label {
    color: var(--comes--title);
}

.addPlate label {
    font-weight: 500;
}

.addPlate div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}

.addPlate input {
    height: 20px;
    margin: 8px 0 15px 0;
    background-color: var(--comes--input);
    border: 1px solid var(--comes--title);
}

.addPlate .imgInput {
    height: 80px;
}

.addPlate .selectDiv {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    margin-bottom: 30px;
}

.addPlate Button {
    font-size: 1.1rem;
    font-weight: 500;
    width: 30%;
    margin: auto;
}