 .restaurantResultsPage .smallBox {
    width: clamp(0px, 80%, 1200px);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.restaurantResultsPage .smallBox .rowDiv {
    margin-bottom: 50px;
}

@media only screen and (max-width: 650px) {
    .restaurantResultsPage .smallBox {
        justify-content: space-around;
    }  

    .restaurantResultsPage .smallBox .rowDiv {
        flex-direction: column;
        align-items: center;
    }

    .carousel {
        flex-direction: row;
        flex-wrap: nowrap;
    }
}