.divList {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: clamp(200px, 80%, 1000px);
    margin: auto;
    padding: 10px 10px 10px 40px;
    box-sizing: border-box;
    box-shadow: inset 0px 0px 0px 0px rgba(100, 100, 100, 0.050), inset 2px 2px 5px 5px rgba(100, 100, 100, 0.050);
    border: solid 2px rgba(100, 100, 100, 0.090);
    justify-content: space-between;
    flex-wrap: wrap;
}

.btns {
    display: flex;
    align-items: flex-end;
}

@media only screen and (max-width: 450px){
    .btns {
        margin-top: 10px;
    }
}

.btn {
    background-color: var(--comes--input);
    box-shadow: inset 0px 0px 0px 0px rgba(100, 100, 100, 0.020), inset 0.5px 0.5px 0.5px 0.5px rgba(100, 100, 100, 0.020);
    border: solid 0.2px rgba(100, 100, 100, 0.090);
    padding: 5px;
    font-size: 0.6rem;
    cursor: pointer;
}

.btn:first-child {
    color: var(--comes--azul);
}
.btn:last-child {
    color: var(--comes--orange);
    margin-left: 10px;
}