.banner {
    background-image: url('./assets/banner.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    margin: auto;
    padding-bottom: 200px;
}

.banner h1 {
    text-align: center;
    width: 100%;
    color: #F5c661;
    padding-top: 10vh;
}

.banner h3 {
    text-align: center;
    color: #F5c661;
    
}
/**** calltoaction sec *****/
.invitationalDiv {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    margin-top: -120px;
    margin-bottom: 120px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

/**** restaurants sec ****/

.restaurants {
    width: 100%;
    max-width: 1000px;
    margin: auto;
}

.restaurants h2 {
    font-size: 1.6rem;
    color: #969696;
    padding-bottom: 25px;
    width: fit-content;
    margin: auto;
}

.exRestaurants {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
}